.noteHome {
  height: 100vh;
  background-image: url('../../assets/images/know.jpg');
  background-size: contain;
  background-size: cover;
}

.noteContainer {
  // display: flex;
  width: 50vw;
  height: 65vh;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  overflow: auto;
}

.searchTextInput {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 20px;
  :first-child {
    background-color: rgba(128,128,128, 0.3);
  }
}

@media screen and (max-width: 950px) {
  .noteContainer {
    height: 55vh
  }
}

@media screen and (max-width: 650px) {
  .noteContainer {
    height: 40vh
  }
}