.links {
  position:fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
}

@media screen and (max-width: 950px) {
  .fontLink {
    display: none;
  }

  .links {
    position: relative;
    flex-direction: row;
    margin: auto;
    text-align: center;
    justify-content: space-around;
  }
}