.challengeHome {
  height: 100vh;
  background-image: url('../../assets/images/challenges.jpg');
  background-size: contain;
  background-size: cover;
}

.challengeContainer {
  display: flex;
  width: 80vw;
  height: 75vh;
  margin: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  overflow: auto;
}

.challengeLength {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 950px) {
  .challengeContainer {
    height: 50vh;
    width: 55%;
  }
}
