.detail {
  width: 11em;
  height: 12em;
  cursor: pointer;
  margin: 10px;
  background-color: rgba(128,128,128, 0.3);
  color: black;
  h1,
  p {
    margin: 5px;
  }
}

.detail:hover {
  background-color: rgba(128,128,128, 1);
}

.detailSimple {
  height: 3em;
  cursor: pointer;
  margin: 10px;
  color: black;
  background-color: rgba(128,128,128, 0.3);
  h1,
  p {
    margin:  10px;
    padding-top: 10px;
  }
  :hover {
    color: white;
  }
}

.deleteLink {
  position: relative;
  left: 600px;
  top: -30px;
  :hover {
    cursor: pointer;
    color: white;
  }
}