.commentHome {
  height: 100vh;
  background-image: url('../../assets/images/book.jpg');
  background-size: contain;
  background-size: cover;
}

.commentContainer {
  width: 70vw;
  height: 90vh;
  margin: auto;
  overflow: auto;
}

.commentComment {
  background-color: rgba(128,128,128, 0.8);
}

.commentImage {
  margin-top: 20px;
}

.commentText {
  margin-top: 10px;
}

@media screen and (max-width: 950px) {
  .commentContainer {
    height: 80vh
  }
}

@media screen and (max-width: 700px) {
  .commentContainer {
    width: 70%;
  }
}