.blogHome {
  height: 100vh;
  background-image: url('../../assets/images/blog.jpg');
  background-size: contain;
  background-size: cover;
}

.blogTitle {
  padding-top: 20px;
  width: 50%;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 1em;
}